<!-- Bottom Nav -->
<footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark" style="background-color: #1ba8a8;">
      <div class="container-fluid">
        <h6 class="display-10 navbar-text mx-auto">&copy; Fine 2022. All Rights Reserved.</h1>
      </div>
    </nav>
  </footer>