<!-- About Page -->
<%- include ../partials/header.ejs %> 

<%- include ../partials/main_nav.ejs %>



  <!-- About Content -->
  <main class="container">
    <div class="jumbotron" style="margin-top: 20px;">
      <div class="media">
        <span class="media-left">
        </span>
        <div class="media-body">
        <h1 class="display-4">About Us</h1>  
        <p>Fine was developed to make managing incident reports easier. With our state of the art system, everything simple to do!</p>
        <p>With incidents happening everywhere, we want to provide a space to report and store those incident reports.
          Our mission <br>is to provide valuable and secure service to those who need it!</p>
        
        <p>
          <h3>Startup Company</h3>
          Fine is an early startup that will grow over time. We are actively working to bring new and updated features to our service.<br>
          This does take time and we appreciate patience while we roll out amazing features over time.<br><br>
          In the future we will be looking to expand our team! Keep an eye out for <i>job opportunities</i>!
        </p>
      </div>
        
      </div>
    </div>
  </main>

  <%- include ../partials/bottom_nav.ejs %>

  <%- include ../partials/footer.ejs %>

