<% include ../partials/header.ejs %> 

<% include ../partials/main_nav.ejs %> 



  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron" style="margin-top: 20px;">
      <div class="page_layout">
      <h1 class="display-4">Welcome to Fine! <br>An incident report website!</h1>
      <p>At Fine Incident Reporting, we can keep a log of injuries that have<br>
        taken place in the workplace. Accidents happen, but keeping track of all incidents<br>
        can be a disaster. We offer an easy to use service to keep your reports organized.
      </p>

      <p>Our service is free of charge and we are prepared to assist you if you run into any issues.<br>
        </p>
      <p>To get started, head to the <a href="/Register">Register</a> page to create an account.<br>
        If you already have an account, you can go to the <a href="/Login">Login</a> page!</p>      

      <p><br><strong>Mission Statement</strong></p>
      <p>With incidents happening everywhere, we want to provide a space to report and store those incident reports.<br>
         Our mission is to provide a valuable and secure service to those who need it!
      </p>
      <p>
        <img src="client/Scripts/banana.jpg" width="300px">
        <img src="https://i.ibb.co/0DnGSS1/safetyshoe.jpg" width="300px">
      </p>
    </div>
    </div>
  </main>

<% include ../partials/bottom_nav.ejs %>

<% include ../partials/footer.ejs %>



